@model List<Web_project_as.Models.User>
@{
    ViewData["Title"] = "Users";
}
<h2>Users</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserID</td>
            <td>@item.FullName</td>
            <td>@item.Email</td>
        </tr>
    }
</table>
