@model IEnumerable<Web_project_as.Models.User>
@{
    ViewData["Title"] = "Show All Users";
}
<div class="container mt-4">
    <h2>Users List</h2>
    <table class="table table-bordered table-striped mt-3">
        <thead class="table-dark">
            <tr>
                <th>User ID</th>
                <th>Full Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserID</td>
                    <td>@item.FullName</td>
                    <td>@item.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>